* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
}

button {
    margin: 20px;
    padding: 10px;
    font-size: medium;
    background-color: rgb(31, 172, 120);
    color: white;
}

hr {
    margin: 20px;
}   

.card {
    border: 1px solid rgb(17, 176, 144);
}

.div {
    border: 2px solid greenyellow;
}